.main-wrapper {
  max-width: 1200px;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.body {
  text-align: center;
}

.image-container {
  background-color: #FFFAE3;
  position: fixed;
  height: 100vh;
  top: 0;
  padding-bottom: 100px;
  left: 0px;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .hero-image {
  width: 700px;
  margin-bottom: 140px;
} */

.text-header-container {
  @media (max-width: 850px) {
    text-align: center;
  }

}

.p-bold-text {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
